/* Core functionality inspired by http://www.ghosthorses.co.uk/production-diary/super-simple-responsive-progress-bar/ */

.rprogress {
	width: 100%;
	height: 30px;
}

.rprogress-wrap {
	background: #4af;
	margin: 5px 0;
	overflow: hidden;
	position: relative;
	float: left;
}

.rprogress-wrap .rprogress-bar {
	background: #ccc;
	left: 0;
	position: absolute;
	top: 0;
}

.rprogress-text {
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 0 5px;
}